*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #444;
}

#main{
    width: 70%;
    height: 80%;
    display: flex;
    background-color: #fff;
    /* background-color: #d5d5d5; */
    border: #000 2px solid;
    margin: 8% 15% 2% 15%;
}

#left{
    width: 25%;
    height: 100%;
    border-right: 2px solid;
    border-left: 2px solid;
}

#center{
    width: 25%;
    height: 100%;
    border-right: 2px solid;
}

#right{
    width: 46%;
    height: 100%;
    border-right: 2px solid;
}

/* .button{
    width: 2%;
    height: 100%;
    background-color: #888;
} */

.button{
    width: 2%;
    height: 100%;
    display: flex;
    vertical-align: middle;
}

.button:hover{
    background-color: #ccc;
}

.tab{
    width: 100%;
    height: 13%;
    border-top: 1px solid;
    padding: 5px;
    font-size: 200%;
}

.titleTab{
    height: 9%;
    border: none;
    padding: 24px;
    font-size: 22px;
}

.tabEm{
    width: 100%;
    height: 13%;
    border-top: 1px solid;
    padding: 5px;
}

.tabDesc{
    width: 100%;
    height: 13%;
    border-top: 1px solid;
    padding: 5px;
    overflow-y: scroll;
}


#leftImg{
    transform: rotate(180deg);
}


.altro{
    width: 97%;
    min-height: 200px;
    margin-left: 3%;
    color: #fff;
    font-size:xx-large;
}

a{
    font-size: large;
}